<div class="row post-list-item post-item-height" id="{{post.id}}" ng-click="directTopost()">
	<div class="col-md-3 post-logo">
		<img ng-src="{{post.logo_url}}">
	</div>
	<div class="col-md-9 post-info-box">
		<div class="row post-name">
			<div class="col-md-10 capitalize-firstLetter">
				<p>{{post.title}}</p>
			</div>
			<div class="col-md-2" ng-if="!hideDelete">
				<span class="glyphicon glyphicon-trash delete-post-button pull-right" ng-click="deleteModal(); $event.stopPropagation()"></span>
			</div>
		</div>
		<div class="row post-short-description">
			<div class="col-md-12 capitalize-firstLetter">
				<p>{{post.description}}</p>
			</div>
		</div>
		<div class="row post-category">
			<div class="col-md-3">
				<div ng-hide="hideCategory" class="post-button category-btn" ng-click="directToCategory(); $event.stopPropagation()">
					{{post.category | translate}}
				</div>
			</div>
			<div class="col-md-6 col-md-offset-{{offset}}">
				<div class="pull-right post-button upvote-btn" ng-class="{subscribed: post.subscribed}" ng-click="toggleSubscribe(); $event.stopPropagation()" >
					<span class="glyphicon glyphicon-arrow-up"></span>
				</div>
			</div>
		</div>
	</div>
</div>
