body {
	background: url(../img/ibg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow-x: hidden; 
}

#myCarousel .list-inline {
    white-space:nowrap;
    overflow-x:auto;
}

#myCarousel .carousel-indicators {
    position: static;
    width: initial;
}

#myCarousel .carousel-indicators > li {
    width: initial;
    height: initial;
    text-indent: initial;
}

#myCarousel .carousel-indicators > li.active img {
    opacity: 0.7;
}


.carrouselimg{
	width:800px;
	height: auto;
}

.carrouselimglittle{
	max-width: 90px;
}

.postcontactinfo{
	font-size: 20px;
}

.postcontent{
	background: rgba(255, 255, 255, 0.8); 
	border-radius: 5px;
}

.posttitle{
	font-size: 30px;
	font-weight: bold;
}

.postdate{
	font-size: 20px;
}

.postmaininfo{
	font-size: 24px;
	font-style: italic;
}

.postcontact{
	font-size: 26px;
}

.postdescription{
	font-size: 18px;	
}


#wrapper{
	padding:90px 15px;
}

.navbar-expand-lg .navbar-nav.side-nav{
	flex-direction: column;
}

.header-top{
	box-shadow: 0 3px 5px rgba(0,0,0,.1)
}

.leftmenutrigger{
	display: none
}

@media(min-width:992px) {
	.leftmenutrigger{display: block;display: block;margin: 7px 20px 4px 0;cursor: pointer;}
	#wrapper{padding: 90px 15px 15px 15px; }
	.navbar-nav.side-nav.open {left:0;}
	.navbar-nav.side-nav{background: white;box-shadow: 2px 1px 2px rgba(0,0,0,.1);position:fixed;top:93px;flex-direction: column!important;left:-220px;width:200px;overflow-y:auto;bottom:0;overflow-x:hidden;padding-bottom:40px}
}

.animate{
	-webkit-transition:all .3s ease-in-out;
	-moz-transition:all .3s ease-in-out;
	-o-transition:all .3s ease-in-out;
	-ms-transition:all .3s ease-in-out;
	transition:all .3s ease-in-out
}

.pawnav{
	background-color: white;
}

.banner-sec .news-block{
	margin-bottom: 20px
}

.banner-sec .news-block:last-child{
	margin-bottom: 0px
}

.banner-sec .news-des{
	margin-bottom: 5px;
}

.banner-sec .title-large{
	margin: 18px 0 0
}

.banner-sec .time{
	margin-top: 0px; font-size: 13px;
}

.banner-sec .card{
	margin-bottom:20px;
}

.card{
	float: left;
	width:100%
}

.card-block{
	padding:0 10px 10px;
}

.card-text{
	margin: 0;
	color: #141517
}

.title-small {
	color: #000000;
	font-size: 18px;
	font-weight: bold;
	line-height: 23px;
	margin: 6px 0 0;
}

.card-img{
	height: 200px;
}

.card-exp{
	margin-top: 10px;
	text-align: center;
}

.uspaced5{
	padding-top: 50px;
}


#map {
    width: 100%;
    height: 200px;
}
.controls {
    margin-top: 10px;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}
#searchInput {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 50%;
}
#searchInput:focus {
    border-color: #4d90fe;
}

.text{
	font-family: Fira-Sans;
}

.titsec{
	font-size: 40px;
	padding-left: 20px;
	font-style: italic;
	color:white;
}

.nav-sec{
	font-size: 24px;
}

.categorytext{
	font-size: 18px;
}

.seemoretext{
	font-size: 18px;
}

.text-time{
	font-size: 14px;
}

#custom-search-input {
        margin:0;
        padding: 0;
    }
 
    #custom-search-input .search-query {

        margin-bottom: 0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;

    }
 
    #custom-search-input button {
        border: 0;
        background: none;
        /** belows styles are working good */
        padding: 2px 5px;
        margin-top: 2px;
        position: relative;
        left: -28px;
        /* IE7-8 doesn't have border-radius, so don't indent the padding */
        margin-bottom: 0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
    }
 
    .search-query:focus + button {
        z-index: 3;   
    }

.uspacedfa{
	margin-top: 5px !important;
}

.filttext{
	font-size: 20px;
	font-weight: bold;
}

.zonetext{
	font-size: 24px;
	font-style: italic;
	font-weight: bold;
}

.uspaced60{
	margin-top: 60px;
}

.nav-item:hover{
	background-color: #f7f7f7;
}

.section{
	background-color: white;
	border-radius: 3px;

}

.footer{
	background-color: #444444;
	height: 50px;
	position:fixed;
	bottom: 0px;
}

.footertext{
	color: white;
	text-align: right;
	padding-top: 15px;
}

.uspaced20{
	margin-top: 20px;
}

.btn-glyphicon { 
	padding:8px; background:#ffffff; 
	margin-right:4px;
}

.icon-btn { 
	padding: 1px 15px 3px 2px; 
	border-radius:50px;
}

.titzon{
	background:#444444;
}

.newbutton{
	border-radius: 50px;
}

.noposttext{
	font-size: 18px;
}

.lspaced50{
	padding-left: 50px;
}

.lspaced10{
	padding-left: 10px;
}


.profilebanner{
	background: url(../img/dark-title-background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow-x: hidden; 
}

.avatar{
	border-radius: 50%;
	height: 200px;
	width: 200px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.bspaced5{
	padding-bottom: 50px;
}

.name{
	font-size:30px;
	color: white;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.email{
	font-size:20px;
	color: white;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.center{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.avatarwrapper{
	position: relative;
}

.avatarwrapper .editicon {
   position: absolute;
   top: 20px;
   left: 50px;
   color: white;
}

.zonecard{
	background-color: white;
	border-top-right-radius: 50px;
	border-top-left-radius: 50px;
}

.mapround{
	border-top-right-radius: 50px;
	border-top-left-radius: 50px;
	max-width:100%;
}

.fright{
	float:right;
}

.zonetitle{
	font-size: 20px;
	font-weight: bold;
	padding-left: 10px;
	float:left;
}

.zonedata{
	overflow: hidden;
	padding-top: 5px;
}

.pagination>li>a { 
	border-radius: 50% !important;
	margin: 0 5px;
}

.zoneel1{
	overflow: hidden;
}

.zonewrapper{
	overflow: hidden;
}

.bspaced1{
	padding-bottom: 10px;

}

.rspaced1{
	padding-right: 10px;
}

.bspaced2{
	padding-bottom: 20px;
}

.uspaced10{
	padding-top: 10px;
}

.btn-circle{
	width: 30px;
  	height: 30px;
  	text-align: center;
  	padding: 6px 0;
 	font-size: 12px;
  	line-height: 1.428571429;
  	border-radius: 15px;
  	float:right;
}

.lspaced20{
	margin-left: 20px;
}

.uspaced4{
	margin-top: 4px;
}

.divider{
	border-top: 1px solid #8c8b8b;
	border-bottom: 1px solid #fff;
	padding: 0px;
    margin: 0px;
}

.rspaced50{
	padding-right: 50px;
}

.formoption:hover{
	background-color: #e0e1e2;
	cursor:pointer;
    text-decoration: none;
}

.formtext{
	font-size: 20px;
	color: #000000;
	font-weight: bold;
}

.formsubtext{
	font-size: 18px;
	color: #676768;
}

.formicon {
    font-size: 40px;
    
}

.formiconadopt{
	color: blue;
}

.formiconhosp{
	color: orange;
	padding-left:4px; 
}

.formiconfound{
	color: green;
	padding-left:4px; 
}

.formiconlost{
	color: red;
	padding-left:4px; 
}

.uspaced10{
	padding-top: 10px;
}

.formtitle{
	font-size: 30px;
}

.uspaced200{
	margin-top: 125px;
}

.optionblock{
	width:600px;
}

.optionblock2{
	width:300px;
}

.uspaced15{
	margin-top: 15px;
}

.icon{
  	height: 40px;
  	width: 40px;
}

.bspaced50{
	padding-bottom: 5px;
}

.uspaced50{
	padding-top: 5px;
}

.radio.selected{
	border: 3px solid;
    border-color: #a3d2ff;
    border-radius: 3px;
}

.radio-group{
    position: relative;
}

.radio{
    display:inline-block;
    cursor:pointer;  
}


.formiconfemale{
	color: #ff9bfd;
	padding-left:4px; 
}

.formiconmale{
	color: #7ae6ff;
	padding-left:4px; 
}

.subformtitle{
	color: #676768;
	font-size: 18px;
}

.myformcontainer{
	width:500px;
}

.form-area{
    background-color: #FAFAFA;
	padding: 10px 40px 60px;
	margin: 10px 0px 60px;
	border: 1px solid GREY;
	border-radius: 3px;
}

.lspaced15{
	margin-left:15px;
}

.btn-place{
	float: right;
}


/*Comment styles*/
.comment {
    list-style: none;
    background: #ececec;
    padding: 1rem;
    position: relative;
    font-size: 0.9rem;
    padding-bottom: 1rem;
}

.commentlist {
    padding: 0 0 0 0;
}

.comment-avatar {
      width: 100%;
      height: auto;
      display: block;
      border-radius: 5px;
 }

.comment-author {
  font-weight: 700;
  font-size: 1.2rem;
}

.comment-time {
  margin: 0 0 20px 0;
}

.comment-content {
    padding-right: 1rem;
    overflow: hidden;
}

.reply-title {
  font-weight: 700;
  font-size: 1.5rem;
}

* {
     margin: 0;
 	padding: 0;
 	-webkit-box-sizing: border-box;
 	-moz-box-sizing: border-box;
 	box-sizing: border-box;
}

a {
 	color: #03658c;
 	text-decoration: none;
}

ul {
	list-style-type: none;
}

.pass_show{position: relative} 

.pass_show .ptxt { 

position: absolute; 

top: 50%; 

right: 10px; 

z-index: 1; 

color: blue; 

margin-top: -10px; 

cursor: pointer; 

transition: .3s ease all; 

} 

.pass_show .ptxt:hover{color: #333333;} 


/** ====================
 * Lista de Comentarios
 =======================*/
.comments-container {
	width: 650px;
}

.comments-container h1 {
	font-size: 36px;
	color: #283035;
	font-weight: 400;
}

.comments-container h1 a {
	font-size: 18px;
	font-weight: 700;
}

.comments-list {
	margin-top: 30px;
	position: relative;
}

/**
 * Lineas / Detalles
 -----------------------*/
.comments-list:before {
	content: '';
	width: 2px;
	height: 100%;
	background: #c7cacb;
	position: absolute;
	left: 32px;
	top: 0;
}

.comments-list:after {
	content: '';
	position: absolute;
	background: #c7cacb;
	bottom: 0;
	left: 27px;
	width: 7px;
	height: 7px;
	border: 3px solid #dee1e3;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}

.reply-list:before, .reply-list:after {display: none;}
.reply-list li:before {
	content: '';
	width: 60px;
	height: 2px;
	background: #c7cacb;
	position: absolute;
	top: 25px;
	left: -55px;
}


.comments-list li {
	margin-bottom: 15px;
	display: block;
	position: relative;
}

.comments-list li:after {
	content: '';
	display: block;
	clear: both;
	height: 0;
	width: 0;
}

.reply-list {
	padding-left: 88px;
	clear: both;
	margin-top: 15px;
}
/**
 * Avatar
 ---------------------------*/
.comments-list .comment-avatar {
	width: 65px;
	height: 65px;
	position: relative;
	float: left;
	border: 3px solid #FFF;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
	box-shadow: 0 1px 2px rgba(0,0,0,0.2);
	overflow: hidden;
}

.comments-list .comment-avatar img {
	width: 100%;
	height: 100%;
}

.reply-list .comment-avatar {
	width: 50px;
	height: 50px;
}

.comment-main-level:after {
	content: '';
	width: 0;
	height: 0;
	display: block;
	clear: both;
}
/**
 * Caja del Comentario
 ---------------------------*/
.comments-list .comment-box {
	width: 560px;
	float: right;
	position: relative;
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.15);
	-moz-box-shadow: 0 1px 1px rgba(0,0,0,0.15);
	box-shadow: 0 1px 1px rgba(0,0,0,0.15);
}

.comments-list .comment-box:before, .comments-list .comment-box:after {
	content: '';
	height: 0;
	width: 0;
	position: absolute;
	display: block;
	border-width: 10px 12px 10px 0;
	border-style: solid;
	border-color: transparent #FCFCFC;
	top: 8px;
	left: -11px;
}

.comments-list .comment-box:before {
	border-width: 11px 13px 11px 0;
	border-color: transparent rgba(0,0,0,0.05);
	left: -12px;
}

.reply-list .comment-box {
	width: 490px;
}
.comment-box .comment-head {
	background: #FCFCFC;
	padding: 10px 12px;
	border-bottom: 1px solid #E5E5E5;
	overflow: hidden;
	-webkit-border-radius: 4px 4px 0 0;
	-moz-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;
}

.comment-box .comment-head i {
	float: right;
	margin-left: 14px;
	position: relative;
	top: 2px;
	color: #A6A6A6;
	cursor: pointer;
	-webkit-transition: color 0.3s ease;
	-o-transition: color 0.3s ease;
	transition: color 0.3s ease;
}

.comment-box .comment-head i:hover {
	color: #03658c;
}

.comment-box .comment-name {
	color: #283035;
	font-size: 14px;
	font-weight: 700;
	float: left;
	margin-right: 10px;
}

.comment-box .comment-name a {
	color: #283035;
}

.comment-box .comment-head span {
	float: left;
	color: #999;
	font-size: 13px;
	position: relative;
	top: 1px;
}

.comment-box .comment-content {
	background: #FFF;
	padding: 12px;
	font-size: 15px;
	color: #595959;
	-webkit-border-radius: 0 0 4px 4px;
	-moz-border-radius: 0 0 4px 4px;
	border-radius: 0 0 4px 4px;
}

.comment-box .comment-name.by-author, .comment-box .comment-name.by-author a {color: #03658c;}
.comment-box .comment-name.by-author:after {
	content: 'autor';
	background: #03658c;
	color: #FFF;
	font-size: 12px;
	padding: 3px 5px;
	font-weight: 700;
	margin-left: 10px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

/** =====================
 * Responsive
 ========================*/
@media only screen and (max-width: 646px) {
	.comments-container {
		width: 440px;
	}

	.comments-list .comment-box {
		width: 350px;
	}

	.reply-list .comment-box {
		width: 280px;
	}
}
