body {
	background: url(../img/ibg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow-x: hidden; 
}

#wrapper{
	padding:90px 15px;
}

.navbar-expand-lg .navbar-nav.side-nav{
	flex-direction: column;
}

.header-top{
	box-shadow: 0 3px 5px rgba(0,0,0,.1)
}

.leftmenutrigger{
	display: none
}

@media(min-width:992px) {
	.leftmenutrigger{display: block;display: block;margin: 7px 20px 4px 0;cursor: pointer;}
	#wrapper{padding: 90px 15px 15px 15px; }
	.navbar-nav.side-nav.open {left:0;}
	.navbar-nav.side-nav{background: white;box-shadow: 2px 1px 2px rgba(0,0,0,.1);position:fixed;top:93px;flex-direction: column!important;left:-220px;width:200px;overflow-y:auto;bottom:0;overflow-x:hidden;padding-bottom:40px}
}

.animate{
	-webkit-transition:all .3s ease-in-out;
	-moz-transition:all .3s ease-in-out;
	-o-transition:all .3s ease-in-out;
	-ms-transition:all .3s ease-in-out;
	transition:all .3s ease-in-out
}

.pawnav{
	background-color: white;
}

.banner-sec .news-block{
	margin-bottom: 20px
}

.banner-sec .news-block:last-child{
	margin-bottom: 0px
}

.banner-sec .news-des{
	margin-bottom: 5px;
}

.banner-sec .title-large{
	margin: 18px 0 0
}

.banner-sec .time{
	margin-top: 0px; font-size: 13px;
}

.banner-sec .card{
	margin-bottom:20px;
}

.card{
	float: left;
	width:100%
}

.card-block{
	padding:0 10px 10px;
}

.card-text{
	margin: 0;
	color: #141517
}

.title-small {
	color: #000000;
	font-size: 18px;
	font-weight: bold;
	line-height: 23px;
	margin: 6px 0 0;
}

.card-img{
	height: 200px;
}

.card-exp{
	margin-top: 10px;
	text-align: center;
}

.uspaced5{
	padding-top: 50px;
}

#map {
    width: 100%;
    height: 200px;
}
.controls {
    margin-top: 10px;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}
#searchInput {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 50%;
}
#searchInput:focus {
    border-color: #4d90fe;
}

.text{
	font-family: Fira-Sans;
}

.titsec{
	font-size: 40px;
	padding-left: 20px;
	font-style: italic;
	color:white;
}

.nav-sec{
	font-size: 24px;
}

.categorytext{
	font-size: 18px;
}

.seemoretext{
	font-size: 18px;
}

.text-time{
	font-size: 14px;
}

#custom-search-input {
        margin:0;
        padding: 0;
    }
 
    #custom-search-input .search-query {

        margin-bottom: 0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;

    }
 
    #custom-search-input button {
        border: 0;
        background: none;
        /** belows styles are working good */
        padding: 2px 5px;
        margin-top: 2px;
        position: relative;
        left: -28px;
        /* IE7-8 doesn't have border-radius, so don't indent the padding */
        margin-bottom: 0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
    }
 
    .search-query:focus + button {
        z-index: 3;   
    }

.uspacedfa{
	margin-top: 5px !important;
}

.filttext{
	font-size: 20px;
	font-weight: bold;
}

.zonetext{
	font-size: 24px;
	font-style: italic;
	font-weight: bold;
}

.uspaced60{
	margin-top: 60px;
}

.nav-item:hover{
	background-color: #f7f7f7;
}

.section{
	background-color: white;
	border-radius: 3px;

}

.footer{
	background-color: #444444;
	height: 50px;
	position:fixed;
	bottom: 0px;
}

.footertext{
	color: white;
	text-align: right;
	padding-top: 15px;
}

.uspaced20{
	margin-top: 20px;
}

.btn-glyphicon { 
	padding:8px; background:#ffffff; 
	margin-right:4px;
}

.icon-btn { 
	padding: 1px 15px 3px 2px; 
	border-radius:50px;
}

.titzon{
	background:#444444;
}

.newbutton{
	border-radius: 50px;
}

.noposttext{
	font-size: 18px;
}

.lspaced50{
	padding-left: 50px;
}

.profilebanner{
	background: url(../img/dark-title-background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow-x: hidden; 
}

.avatar{
	border-radius: 50%;
	height: 200px;
	width: 200px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.bspaced5{
	padding-bottom: 50px;
}

.name{
	font-size:30px;
	color: white;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.email{
	font-size:20px;
	color: white;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.center{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.avatarwrapper{
	position: relative;
}

.avatarwrapper .editicon {
   position: absolute;
   top: 20px;
   left: 50px;
   color: white;
}

.zonecard{
	background-color: white;
	border-top-right-radius: 50px;
	border-top-left-radius: 50px;
}

.mapround{
	border-top-right-radius: 50px;
	border-top-left-radius: 50px;
	max-width:100%;
}

.zonetitle{
	font-size: 20px;
	font-weight: bold;
	padding-left: 10px;
	float:left;
}

.zonedata{
	overflow: hidden;
	padding-top: 5px;
}


.zoneel1{
	overflow: hidden;
}

.zonewrapper{
	overflow: hidden;
}

.bspaced2{
	padding-bottom: 20px;
}

.uspaced10{
	padding-top: 10px;
}

.btn-circle{
	width: 30px;
  	height: 30px;
  	text-align: center;
  	padding: 6px 0;
 	font-size: 12px;
  	line-height: 1.428571429;
  	border-radius: 15px;
  	float:right;
}

.lspaced20{
	margin-left: 20px;
}

.uspaced4{
	margin-top: 4px;
}

.divider{
	border-top: 1px solid #8c8b8b;
	border-bottom: 1px solid #fff;
	padding: 0px;
    margin: 0px;
}

.rspaced50{
	padding-right: 50px;
}

.formoption:hover{
	background-color: #e0e1e2;
	cursor:pointer;
    text-decoration: none;
}

.formtext{
	font-size: 20px;
	color: #000000;
	font-weight: bold;
}

.formsubtext{
	font-size: 18px;
	color: #676768;
}

.formicon {
    font-size: 40px;
    
}

.formiconadopt{
	color: blue;
}

.formiconhosp{
	color: orange;
	padding-left:4px; 
}

.formiconfound{
	color: green;
	padding-left:4px; 
}

.formiconlost{
	color: red;
	padding-left:4px; 
}

.uspaced10{
	padding-top: 10px;
}

.formtitle{
	font-size: 30px;
}

.uspaced200{
	margin-top: 125px;
}

.optionblock{
	width:600px;
}

.optionblock2{
	width:300px;
}

.uspaced15{
	margin-top: 15px;
}

.icon{
  	height: 40px;
  	width: 40px;
}

.bspaced50{
	padding-bottom: 5px;
}

.uspaced50{
	padding-top: 5px;
}

.radio.selected{
	border: 3px solid;
    border-color: #a3d2ff;
    border-radius: 3px;
}

.radio-group{
    position: relative;
}

.radio{
    display:inline-block;
    cursor:pointer;  
}


.formiconfemale{
	color: #ff9bfd;
	padding-left:4px; 
}

.formiconmale{
	color: #7ae6ff;
	padding-left:4px; 
}

.subformtitle{
	color: #676768;
	font-size: 18px;
}

.myformcontainer{
	width:500px;
}

.form-area{
    background-color: #FAFAFA;
	padding: 10px 40px 60px;
	margin: 10px 0px 60px;
	border: 1px solid GREY;
	border-radius: 3px;
}

.lspaced15{
	margin-left:15px;
}

